.big-gallery {
    height: 400px;
    width: 600px;
}

.big-gallery .main-img {
    width: 600px; height: 365px;
}

.med-gallery {
    height: 200px;
    width: 200px;
}
.med-gallery .main-img {
    width:200px; height:160px;
}

.v-thumb-gallery {
    height: 40px;
    width: 40px;
}

.h-thumb-gallery {
    height: 40px;
    width: 82px;
}

.h-thumb-gallery .gallery-div, .h-thumb-gallery li {
    width: 40px;
}

.v-thumb-gallery .main-img, .h-thumb-gallery .main-img{
    width: 40px;
    height: 40px;
}

label {
    font-family: sans-serif;
    font-size: 0.8em;
}

#create-contest-form input {
    font-family: sans-serif;
    font-size: 0.8em;
    /*float: left;*/
    margin-left: 200px;
}

/*searchform css */
* { margin: 0; padding: 0; }
fieldset { border: none }

#search-form {
	width: 190px;
	position: relative;
}
#search {
	background: #b2a48c;
	border: 3px solid #402f1d;
	color: #2b1e11;
	height: 20px;
	line-height: 20px;
	width: 150px;
	padding: 2px 4px;
	/*position: absolute;
	top: 11px;
	left: 0*/
}
#search-submit {
	background: #b2a48c url(../images/search.png) no-repeat 12px 7px;
	border: 3px solid #402f1d;
	height: 50px;
	width: 50px;
	/*position: absolute;
	top: 0;
	right: 0*/
}

.empty {
	color: #524630;
}

/* CSS3 */
#search { border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: -webkit-gradient(linear, left top, left bottom, from(#b2a48c), to(#9b8d74));
	background: -moz-linear-gradient(top, #b2a48c, #9b8d74);
	text-shadow: rgba(0,0,0,.2) 0 0 5px;
}

#search-submit {
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-mox-box-shadow: 0 0 5px black;

	/* Webkit-transition */
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.4s, 0.4s;
	-webkit-transition-timing-function: linear, ease-in;
	}
#current-Entries {
    list-style: none;
}
.entry-li {
    float: left;
}
.rating-button {
    background-image: none !important;
    background: red !important;
    color: white;
}
.rating-info {
    position: absolute; 
    top: 4px;
    right: 2px;
    width: 150px;
    height: 40px;
    z-index: 10 !important;
    background-color: white;
}

.avg-score {
    border: solid;
    border-width: 1px;
    border-color: blue;
    padding: 0 2px 0 2px;
    font-size: 11pt;
}

.vote-count {
    font-size: 8pt;
    top: 40px;
}

.rank {
    float: right;
}

.send-gift {
    position: absolute;
    top: 50%;
    right: 2px;
    border: solid;
    border-width: 1px;
    background-color: white;
}