body {
  margin: 0;
  padding: 0;
  background-color: red;
}
#content {
  position: relative;
}
.imgDiv {
  position: absolute;
  display: inline;
  margin: 0;
  padding: 0;
}
.wyzText {
  font-family: 
}